
<!--
<nav>
    <ul>
        <img src="{{url_for('static',filename='images/docker.jpeg')}}" alt="">
        <li><a href="{{url_for('index')}}">Boton inicio</a></li>
        <li><a href="https://www.google.com">Boton Google</a></li>
    </ul>
</nav>
-->




<nav class="navbar navbar-default">
    <img src="{{url_for('static',filename='images/docker.jpeg')}}" alt="">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Flask App</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('index')}}">Boton inicio</a></li>
        <li><a href="https://www.google.com">Boton Google</a></li>
      </ul>
    </div>
  </nav>
